/* card */

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  
  box-sizing: border-box;
  /* border-radius: 2px; */
  background-clip: padding-box;
}
.card1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card11{
  
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}

.panel2-google-plus {
    width:100%;
	position: relative;
    border-radius: 0px;
    border: 1px solid rgb(67, 185, 123);
	/* border-radius:3px; */
    font-family: cicle Semi;
	box-sizing: border-box;
	/* border-radius: 2px; */
	background-clip: padding-box;
	/* font-family: 'Roboto', vardana; */
}
.panel2-google-plus>.h1 {
    font-size:2em;
    
  
}
.panel1-google-plus {
    position: relative;
    border-radius: 0px;
     border: 1px solid #E8E8E8; 
	/* border-radius:10px;  */
    /* font-family: 'Roboto', vardana; */
	/* margin-bottom: 3px; */
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 0px 0 rgba(0, 0, 0, 0.12);
	background-color:#fff;
}
.panel1-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel1-google-plus > .dropdown > span > span {
    font-size: 16px;   
}
.panel1-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel1-google-plus > .panel1-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel1-google-plus > .panel1-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel1-google-plus > .panel1-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   
}
.panel1-google-plus > .panel1-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel1-google-plus > .panel1-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
	border-right: 3px solid rgb(67, 185, 123);
}
.panel1-google-plus > .panel1-google-plus-tags > ul:hover > li,
.panel1-google-plus > .panel1-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel1-google-plus > .panel1-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);   
}
.panel1-google-plus > .panel1-google-plus-tags > ul > li:hover {
    background-color: rgb(67, 185, 123);
    color: rgb(87, 89, 91);
}
.panel1-google-plus > .panel1-heading,
.panel1-google-plus > .panel1-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel1-google-plus > .panel1-heading {
    margin-top: 14px;    
    padding-bottom: 0px; 
}
.panel1-google-plus > .panel1-heading > img { 
    margin-right: 15px;
	margin-left: 15px;
}
.panel1-google-plus > .panel1-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel1-google-plus > .panel1-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel1-google-plus > .panel1-body {
    padding-top: 30px;
    font-size: 13px;
}
.panel1-google-plus > .panel1-body > .panel1-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel1-google-plus > .panel1-body > .panel1-google-plus-image > img {
    max-width: 100%;
}

.panel1-google-plus > .panel1-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
	padding:10px;border-radius: 10px;
}
.panel1-google-plus > .panel1-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel1-google-plus > .panel1-footer > .input-placeholder {
    display: block;
     /* margin-left: 158px;  */
    color: rgb(64, 64, 65);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
	/* Width:30%; */
	text-align:center;
}
.panel1-google-plus.panel1-google-plus-show-comment > .panel1-footer > .input-placeholder {
    display: none;   
}
.panel1-google-plus > .panel1-google-plus-comment {
    display: none;
    padding: 10px 10px 10px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: 	#E6EBE6;
}
.panel1-google-plus.panel1-google-plus-show-comment > .panel1-google-plus-comment {
    display: block;
	/* border-radius: 10px; */
}
/*.panel1-google-plus > .panel1-google-plus-comment > img {
    float: left;   
}*/
.panel1-google-plus > .panel1-google-plus-comment > .panel1-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel1-google-plus > .panel1-google-plus-comment > .panel1-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel1-google-plus > .panel1-google-plus-comment > .panel1-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel1-google-plus > .panel1-google-plus-comment > .panel1-google-plus-textarea > .btn {
        width: 988;
    }    
}


.panel1-google-plus .btn {
    border-radius: 3px;   
}
.panel1-google-plus .btn-default {
    /* border: 1px solid rgb(217, 217, 217); */
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel1-google-plus .btn-default:hover, 
.panel1-google-plus .btn-default:focus, 
.panel1-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    /* border-color: rgb(0, 0, 0);     */
}



/* map */

.map-canvas {
        width: 100%;
        height: 607px;   /* 208px for 1 search result */
		background-color: #CCC;
      }



#map {
    height:420px;
    width:100%;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}





.heading_filter
{

/* height:30px; */
background-color:#43b98f ;
padding:10px; 
cursor:default;
margin-bottom:10px;
box-shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* confirmation page */


.green
{
color:#43b98f;

}	

.grey
{
color:#2f3030;

}

.pro-info
{
margin-top:10px;
}

.doc_ser
{
margin: 5px;
padding: 5px;

}

.doc_ser h4
{
font-size:17px;
color:#696b6b;
font-weight:900;
}

.doc_ser p
{
font-size:14px;
color: #121212;
}

.pro-deg {
color: #505050;
font-weight: 600;
}

.bookappointment
{
margin: 10px;


}
.bookappointment h3
{
color: rgb(67,185,123);
font-weight: 600;
}

.bo1{
margin-top: 20px;
margin: 20px;
}

/* login form */

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
  animation: shake 400ms ease-in-out;
}

/* buttons */

/* Facebook */
.fb-icon-bg {
	background: #354f88;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px; 
}

.fb-icon-bg:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);
  display: block;
  padding: 9px 10px 5px 15px;
}

.fb-bg {
	background: #3b5998;
	display: block;
	height: 37px;
	margin: 0 0 30px 41px;
	width: 166px; 
}

.fb-bg:after {
	color: #fff;
	content: "sign in with facebook";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	left: 8%;
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px; 
}

.fb-bg:hover{
  cursor: pointer;
}

.fb-bg:active{
  background: #354f88;
}

/* Twitter */
.twi-icon-bg:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/twi-icon.png);
  display: block;
  padding: 11px 10px 6px 11px;
}

.twi-icon-bg {
	background: #40a2d1;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px; 
}

.twi-bg {
	background: #45b0e3;
	height: 37px;
	margin: 0 0 30px 41px;
	width: 166px; 
}
 
.twi-bg:after {
	color: #fff;
	content: "sign in with twitter";
	font-family: 'Oswald', sans-serif;
	height: 37px;
  left: 11%;
	position: relative;
  text-transform: uppercase;
	top: 22%;
  width: 41px; 
}

.twi-bg:hover {
  cursor: pointer;
}

.twi-bg:active {
  background: #40a2d1;
}

/* Google+ */
.g-icon-bg:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/g-icon.png);
  display: block;
  padding: 11px 10px 6px 13px;
}

.g-icon-bg {
	background: #ce3e26;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px; 
}
 
.g-bg {
	background: #de4c34;
	height: 37px;
	margin-left: 41px;
	width: 166px; 
}
 
.g-bg:after {
	color: #fff;
	content: "sign in with google+";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	left: 10%;
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px; 
}

.g-bg:hover {
  cursor: pointer;
}

.g-bg:active {
  background: #ce3e26;
}





.table-container {
    width:100%;
    /* Total width of visible columns + border widths */
    height:100%;
    
    overflow:hidden;
	/* outline: 1px solid #45b97c; */
}
.sliding-window {
    width:100%;
    /* Total width of all columns in sliding-window + border widths */
    height:auto;
    overflow:hidden;
}
.sliding-window div {
   
   width: 609px;
   height: AUTO;
   
   outline: 1px solid #45b97c;
}





/* custom css for available slots  */
.available
{
font-weight:600;
}
.not_available
{
color:#B8B8B8;
text-decoration: line-through;
cursor:default;
}

a.not_available:hover
{
color:#B8B8B8;
text-decoration: line-through;
cursor:default;
}




/* Dashboard  */


.panel {
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-body {
    padding: 15px;
}

.panel-body:before,.panel-body:after {
    content: " ";
    display: table;
}

.panel-body:after {
    clear: both;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1;
    border-top-left-radius: -1;
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-title>a {
    color: inherit;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #fafafa;
    border-top: 1px solid #e9e9e9;
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1;
}

.panel>.list-group {
    margin-bottom: 0;
}

.panel>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}

.panel>.list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: -1;
    border-top-left-radius: -1;
}

.panel>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1;
}

.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0;
}

.panel>.table,.panel>.table-responsive>.table {
    margin-bottom: 0;
}

.panel>.table:first-child,.panel>.table-responsive:first-child>.table:first-child {
    border-top-right-radius: -1;
    border-top-left-radius: -1;
}

.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child {
    border-top-left-radius: -1;
}

.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child {
    border-top-right-radius: -1;
}

.panel>.table:last-child,.panel>.table-responsive:last-child>.table:last-child {
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1;
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-left-radius: -1;
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
    border-bottom-right-radius: -1;
}

.panel>.panel-body+.table,.panel>.panel-body+.table-responsive {
    border-top: 1px solid #ddd;
}

.panel>.table>tbody:first-child>tr:first-child th,.panel>.table>tbody:first-child>tr:first-child td {
    border-top: 0;
}

.panel>.table-bordered,.panel>.table-responsive>.table-bordered {
    border: 0;
}

.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child {
    border-left: 0;
}

.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child {
    border-right: 0;
}

.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th {
    border-bottom: 0;
}

.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th {
    border-bottom: 0;
}

.panel>.table-responsive {
    border: 0;
    margin-bottom: 0;
}

.panel-group {
    margin-bottom: 20px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    overflow: hidden;
}

.panel-group .panel+.panel {
    margin-top: 5px;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #e9e9e9;
}

.panel-group .panel-footer {
    border-top: 0;
}

.panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #e9e9e9;
}

.panel-default {
    border-color: #e9e9e9;
}

.panel-default>.panel-heading {
    color: #767676;
    background-color: #f6f6f6;
    border-color: #e9e9e9;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #e9e9e9;
}

.panel-default>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #e9e9e9;
}

.panel-primary {
    border-color: #31c0be;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #31c0be;
    border-color: #31c0be;
}

.panel-primary>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #31c0be;
}

.panel-primary>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #31c0be;
}

.panel-success {
    border-color: #d5ffe1;
}

.panel-success>.panel-heading {
    color: #4c9c77;
    background-color: #eefff6;
    border-color: #d5ffe1;
}

.panel-success>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #d5ffe1;
}

.panel-success>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #d5ffe1;
}

.panel-info {
    border-color: #cbebff;
}

.panel-info>.panel-heading {
    color: #538da7;
    background-color: #eff6ff;
    border-color: #cbebff;
}

.panel-info>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #cbebff;
}

.panel-info>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #cbebff;
}

.panel-warning {
    border-color: #ffeed6;
}

.panel-warning>.panel-heading {
    color: #bfa34c;
    background-color: #fffbef;
    border-color: #ffeed6;
}

.panel-warning>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #ffeed6;
}

.panel-warning>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #ffeed6;
}

.panel-danger {
    border-color: #ffd6d4;
}

.panel-danger>.panel-heading {
    color: #ca674c;
    background-color: #fff1ed;
    border-color: #ffd6d4;
}

.panel-danger>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #ffd6d4;
}

.panel-danger>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #ffd6d4;
}


.panel .panel-heading {
    text-transform: uppercase;
}

.panel .panel-title {
    font-size: 14px;
}

.panel-dark {
    border-color: #242633;
}

.panel-dark>.panel-heading {
    color: #fff;
    background-color: #242633;
    border-color: #242633;
}

.panel-dark>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #242633;
}

.panel-dark>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #242633;
}

.panel-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.panel-box .panel-item {
    display: table-cell;
    padding: 30px;
    width: 1%;
    vertical-align: top;
    border-radius: 0;
}

.panel-box .panel-item1 {
    display: table-cell;
    padding: 13px;
    width: 1%;
    vertical-align: top;
    border-radius: 0;
}

.panel-box .panel-left {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.panel-box .panel-right {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-box.info-box i {
    line-height: 70px;
}

.panel-box .panel-top,.panel-box .panel-bottom {
    display: block;
}

.panel-box .panel-top {
    padding: 30px 20px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.panel-box .panel-bottom {
    padding: 10px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-box .panel-bottom p {
    margin: 0;
}

.panel-box .list-justified-container {
    padding: 15px 0;
}

.panel-box ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0;
}

.panel-box ul.list-justified>li {
    float: none;
    display: table-cell;
    padding: 10px;
    width: 1%;
    border-right: 1px solid #eee;
}

.panel-box ul.list-justified>li:last-child {
    border: none;
}

.panel-box ul.list-justified>li p {
    margin: 0;
}

.panel-box .panel-icon {
    display: block;
    margin: -75px auto 0;
    padding: 28px 35px 35px;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 150px;
    height: 150px;
    line-height: 80px;
    text-align: center;
    font-size: 58px;
    text-shadow: -6px 8px 5px rgba(0,0,0,0.3);
}

.mini-box {
    min-height: 105px;
    padding: 20px;
}

.mini-box .box-icon {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 65px;
    height: 65px;
    line-height: 65px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
}

.mini-box .box-icon.rounded {
    border-radius: 0;
}

.mini-box .box-info p {
    margin: 0;
}

.panel-profile {
    border: none;
}

.panel-profile .profile {
    margin: 5px 15px 5px 5px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px #51d3d1,0 0 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 0 5px #51d3d1,0 0 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 0 5px #51d3d1,0 0 10px 0 rgba(0,0,0,0.2);
}

.panel-profile .profile img {
    border-radius: 50%;
}

.panel-profile .list-group>li>i {
    margin-right: 10px;
    font-size: 16px;
    color: #999;
    table-layout: fixed;
}

.panel-profile .list-justified-container {
    padding: 15px 0;
}

.panel-profile ul.list-justified {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0;
}

.panel-profile ul.list-justified>li {
    float: none;
    display: table-cell;
    padding: 10px;
    width: 1%;
    border-right: 1px solid #eee;
}

.panel-profile ul.list-justified>li:last-child {
    border: none;
}

.panel-profile ul.list-justified>li p {
    margin: 0;
}


.text-small {
    font-size: 12px;
}

.text-normal {
    font-size: 14px;
}

.text-huge {
    font-size: 72px;
}

.text-large {
    font-size: 50px;
}

.size-h1 {
    font-size: 36px;
}

.size-h2 {
    font-size: 30px;
}

.size-h3 {
    font-size: 23px;
	font-weight:600;
	color:rgb(64,64,65);
}

.size-h4 {
    font-size: 18px;
}

.text-thin {
    font-weight: 300;
}

.text-ultralight {
    font-weight: 100;
}

.text-muted {
    color: #999;
}

.text-primary {
    color: #31c0be;
}

a.text-primary:hover {
    color: #279796;
}

.text-success {
    color: #4c9c77;
}

a.text-success:hover {
    color: #3b7a5d;
}

.text-info {
    color: #538da7;
}

a.text-info:hover {
    color: #427085;
}

.text-warning {
    color: #bfa34c;
}

a.text-warning:hover {
    color: #9f8639;
}

.text-danger {
    color: #ca674c;
}

a.text-danger:hover {
    color: #af4e34;
}

.bg-primary {
    color: #fff;
}

.bg-primary {
    background-color: #31c0be;
}

a.bg-primary:hover {
    background-color: #279796;
}

.bg-success {
    background-color: #eefff6;
}

a.bg-success:hover {
    background-color: #bbffdb;
}


.bg-warning {
    background-color: #fffbef;
}

a.bg-warning:hover {
    background-color: #ffeebc;
}

.bg-danger {
    background-color: #fff1ed;
}

a.bg-danger:hover {
    background-color: #ffc9ba;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


.ui-datepicker table {
    margin: 0 5px;
}

.ui-datepicker table th,.ui-datepicker table td {
    padding: 1px;
}

.ui-timepicker td {
    padding: 1px;
}



.ui-timeline {
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.ui-timeline:before {
    background-color: #d5d5d5;
    bottom: 0px;
    content: "";
    left: 50%;
    position: absolute;
    top: 30px;
    width: 1px;
    z-index: 0;
}

.ui-timeline .tl-item {
    display: table-row;
    margin-bottom: 5px;
}

.ui-timeline .tl-item:before {
    content: "";
    display: block;
    width: 50%;
}

.ui-timeline .tl-item .tl-caption {
    width: 150px;
    margin-left: -110px;
}

.ui-timeline .tl-item.alt {
    text-align: right;
}

.ui-timeline .tl-item.alt:before {
    display: none;
}

.ui-timeline .tl-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}

.ui-timeline .tl-item.alt .tl-body .tl-entry {
    margin: 0 35px 15px 0;
}

.ui-timeline .tl-item.alt .tl-body .tl-time {
    right: -220px;
    left: auto;
    text-align: left;
}

.ui-timeline .tl-item.alt .tl-body .tl-icon {
    right: -53px;
    left: auto;
}

.ui-timeline .tl-item.alt .tl-body .tl-content:after {
    right: -16px;
    left: auto;
    border: 8px solid transparent;
    border-left: 8px solid #fff;
}

.ui-timeline .tl-item .tl-body {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.ui-timeline .tl-item .tl-body .tl-entry {
    position: relative;
    margin: 0 0 15px 36px;
}

.ui-timeline .tl-item .tl-body .tl-time {
    position: absolute;
    left: -220px;
    top: 5px;
    width: 150px;
    line-height: 35px;
    text-align: right;
}

.ui-timeline .tl-item .tl-body .tl-icon {
    position: absolute;
    left: -53px;
    top: 5px;
}

.ui-timeline .tl-item .tl-body .tl-content {
    position: relative;
    padding: 15px;
    border-radius: 0;
    background-color: #fff;
}

.ui-timeline .tl-item .tl-body .tl-content:after {
    content: " ";
    line-height: 0;
    position: absolute;
    left: -16px;
    top: 15px;
    border: 8px solid transparent;
    border-right: 8px solid #fff;
}

.ui-accordion .panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #e9e9e9;
}

.ui-accordion .panel {
    border: 1px solid #e9e9e9;
}

.ui-accordion .panel-heading {
    padding: 0;
    background-color: #f6f6f6;
}

.ui-accordion .panel-heading .panel-title>a {
    display: block;
    padding: 15px;
    font-size: 14px;
}

.ui-accordion .panel-heading .panel-title>a:hover {
    cursor: pointer;
    text-decoration: none;
}

.ui-accordion-success .panel {
    border: 1px solid #60cd9b;
}

.ui-accordion-success .panel-heading {
    background-color: #60cd9b;
    color: #fff;
}

.ui-accordion-info .panel {
    border: 1px solid #66b5d7;
}

.ui-accordion-info .panel-heading {
    background-color: #66b5d7;
    color: #fff;
}

.ui-accordion-warning .panel {
    border: 1px solid #eec95a;
}

.ui-accordion-warning .panel-heading {
    background-color: #eec95a;
    color: #fff;
}

.ui-accordion-danger .panel {
    border: 1px solid #e87352;
}

.ui-accordion-danger .panel-heading {
    background-color: #e87352;
    color: #fff;
}

.ui-accordion-dark .panel {
    border: 1px solid #242633;
}

.ui-accordion-dark .panel-heading {
    background-color: #242633;
    color: #fff;
}

.ui-map {
    display: block;
    height: 400px;
}

.pagination>li>a {
    cursor: pointer;
}

.pagination>li>a,.pagination>li>span {
    margin-left: 1px;
}

.progress {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #f6f6f6;
}

.progress-rounded {
    border-radius: 50px;
}

.progress-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.progressbar-xs {
    height: 10px;
}

.progressbar-sm {
    height: 15px;
}

.ui-tab-container {
    border: 1px solid #e9e9e9;
    border-radius: 0;
}

.ui-tab-container .ui-tab .nav-tabs {
    margin-bottom: 0;
}

.ui-tab-container .nav-tabs {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e9e9e9;
}

.ui-tab-container .nav-tabs.nav-justified {
    border-bottom: 0;
}

.ui-tab-container .nav-tabs.nav-justified>li>a {
    border-bottom-color: transparent;
}

.ui-tab-container .nav-tabs>li.active>a {
    background-color: #fff;
    border: 1px solid transparent;
}

.ui-tab-container .nav-tabs>li.active>a:hover {
    border: 1px solid transparent;
}

.ui-tab-container .nav-tabs>li>a {
    padding: 10px 15px;
}

.ui-tab-container .nav-tabs>li>a:hover {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
}

.ui-tab-container .tab-content {
    padding: 15px;
}

.ui-tab-container.ui-tab-success {
    border: 1px solid #d5ffe1;
}

.ui-tab-container.ui-tab-success .nav-tabs {
    background-color: #eefff6;
    border-bottom: 1px solid #d5ffe1;
}

.ui-tab-container.ui-tab-info {
    border: 1px solid #cbebff;
}

.ui-tab-container.ui-tab-info .nav-tabs {
    background-color: #eff6ff;
    border-bottom: 1px solid #cbebff;
}

.ui-tab-container.ui-tab-warning {
    border: 1px solid #ffeed6;
}

.ui-tab-container.ui-tab-warning .nav-tabs {
    background-color: #fffbef;
    border-bottom: 1px solid #ffeed6;
}

.ui-tab-container.ui-tab-danger {
    border: 1px solid #ffd6d4;
}

.ui-tab-container.ui-tab-danger .nav-tabs {
    background-color: #fff1ed;
    border-bottom: 1px solid #ffd6d4;
}

.ui-tab .nav-tabs {
    margin-bottom: 15px;
}

.ui-tab .nav-tabs.nav-justified>li.active>a {
    border-bottom-color: transparent;
}

.ui-tab .nav-tabs>li.active>a {
    background-color: #fff;
}

.ui-tab .nav-tabs a:hover {
    cursor: pointer;
}


.bg-primary {
    background-color: #31c0be;
    color: #fff;
}

.bg-primary-light {
    background-color: #5bdddc;
    color: #fff;
}

.bg-success {
    background-color: #60cd9b;
    color: #fff;
}

.bg-info {
    background-color: #66b5d7;
    color: #fff;
}

.bg-warning {
    background-color: #eec95a;
    color: #fff;
}

.bg-danger {
    background-color: #e87352;
    color: #fff;
}

.bg-orange {
    background-color: #ef9549;
    color: #fff;
}

.bg-violet {
    background-color: #8170ca;
    color: #fff;
}

.bg-dark {
    background-color: #242633;
    color: #fff;
}

.bg-bright {
    background-color: #fafafa;
    color: #767676;
}

.bg-reverse {
    background-color: #fff;
    color: #767676;
}

.bg-facebook {
    background-color: #335397;
    color: #fff;
}

.bg-twitter {
    background-color: #00c7f7;
    color: #fff;
}

.bg-google-plus {
    background-color: #df4a32;
    color: #fff;
}
