<div class="page page-form">
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
					<div class="panel-body" >
						
						<div class="row">
								<div class="col-md-3">
								<!-- profile panel -->
								<div class="panel panel-profile">
									<div class="panel-heading text-center bg-default">
										<img alt="" src="images/profileguy.png" class="img-circle img80_80">
										<!-- <h3>{{main.name}}</h3> -->
										<p>Dr.Doctor Name</p>                    
									</div>
									<div class="media">
										<div class="media-body">
											<ul class="list-unstyled list-info">
												<li>
													<span class="icon glyphicon glyphicon-user"></span>
													<label>Amit.Gore</label>
													
												</li>
												<li>
													<span class="icon glyphicon glyphicon-envelope"></span>
													amit@healthserve.in
													
												</li>
												<li>
													<span class="icon glyphicon glyphicon-home"></span>
													Parihar chauk, Aundh, Pune
												</li>
												<li>
													<span class="icon glyphicon glyphicon-earphone"></span>
													<!-- <label>Contact</label> -->
													(+91) 345 6789
												</li>
												<li>
													<span class="icon glyphicon glyphicon-flag"></span>
													<!-- <label>Nationality</label> -->
													India
												</li>
												<li>
													<span class="icon glyphicon glyphicon-globe"></span>
													<!-- <label>Website</label> -->
													www.healthserve.in
												</li>
												<li>
													<span class="icon fa fa-facebook fa-2x" title="Facebook"></span>
													<span class="icon fa fa-twitter fa-2x" title="twitter"></span>
													<span class="icon fa fa-instagram fa-2x" title="instagram"></span>
													<span class="icon fa fa-linkedin fa-2x" title="linkedin"></span>
													
												</li>
												
											</ul>
											
										</div>
									</div>
								</div>
									
										
								</div>
							
								<!-- end profile panel -->
					
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-3">
										<div class="panel mini-box">
											<span class="box-icon bg-danger">
												<i class="fa fa-calendar"></i>
											</span>
											<div class="box-info">
												<p class="size-h2">39</p>
												<p class="text-muted">Appointments</p>
											</div>
										</div>                    
									</div>
									<div class="col-md-3">
										<div class="panel mini-box">
											<span class="box-icon bg-warning">
												<i class="fa  fa-medkit"></i>
											</span>
											<div class="box-info">
												<p class="size-h2">13</p>
												<p class="text-muted">Recommendations</p>
											</div>
										</div>                    
									</div>
									<div class="col-md-3">
										<div class="panel mini-box">
											<span class="box-icon bg-success">
												<i class="fa fa-stethoscope "></i>
											</span>
											<div class="box-info">
												<p class="size-h2">5</p>
												<p class="text-muted">Mediacal surgeries</p>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="panel mini-box">
											<span class="box-icon bg-info">
												<i class="fa fa-plus"></i>
											</span>
											<div class="box-info">
												<p class="size-h2">39</p>
												<p class="text-muted">Healthserve Patients</p>
											</div>
										</div>
									</div>
								</div>
								
								<!-- main content -->
								<div class="row">
									<!-- Center data  -->
									<div class="col-md-8">
										            
									</div>
									<!-- right sidebar -->
									<div class="col-md-4">
										<accordion close-others="oneAtATime" class="ui-accordion ui-accordion-default">
											<accordion-group heading="1" is-open="true">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
											</accordion-group>
											<accordion-group heading="2" is-open="false">
												Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
											</accordion-group>
											<accordion-group heading="3" is-open="false">
												 Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
											</accordion-group>                    
										</accordion>          
									</div>
									
									
								</div>
								
								
								
								
							</div>
							<!-- end mini box -->	
						
						</div>
					</div>
			</div>
        </div>

    </div>
</div>



